body {
    width: 100%;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.5384616;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 1s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -10px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
}

i {
    margin-right: 5px;
}

.btn {
    -webkit-appearance: button;
    cursor: pointer;
    padding: 3px 6px;
    color: #333;
}

hr {
    border: 1.5px solid #047891;
}

.text-body {
    color: #333;
    border: none;
    padding: 12px 15px;
}

.text-body:hover {
    color: #fff;
    background-color: #00b2c9;
}

form {
    margin-top: 25px;
    padding: 20px;
    color: #666;
    background-color: #f0eedc;
    display: block;
    padding-bottom: 100px;
}

select {
    padding: 7px 10px;
    width: 350px;
    margin-top: 10px;
    color: #666;
    border-color: #ddd;
    border: 1px solid transparent;
    border-radius: 3px;
}

.language {
    width: 7.1%;
    padding: 2px;
    margin-top: 0px;
    color: 0;
    border-color: black;
    border: 0px solid transparent;
    border-radius: 0"

}

.name {
    display: block;
    width: 350px;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 10px;
    /* border: 1px solid #3498db; */
    text-transform: uppercase;
    /* box-shadow: 0 0 0 0.5; */
}

.name:focus {
    outline: #3498db solid 1px;

}

#reset {
    color: #fff;
    background-color: #007790;
    border: none;
    border-color: #007790;
    padding: 10px 12px;
    border-radius: 2px;
}

#reset:hover {
    color: #fff;
    background-color: #0bb7d9;
    border: none;
    border-color: #007790;
    padding: 10px 12px;
    border-radius: 2px;
}

#submit {
    color: #fff;
    background-color: #007790;
    border: none;
    border-color: #007790;
    padding: 10px 12px;
    border-radius: 2px;
    margin-left: 5px;
}

#submit:hover {
    color: #fff;
    background-color: #0bb7d9;
    border: none;
    border-color: #007790;
    padding: 10px 12px;
    border-radius: 2px;
}